<h2>Showing all items</h2>

<a href="/profile">Back to profile</a>

<div id="map">
</div>


<% item.forEach(function(item){ %>
    <%if (!item.cleanerId) { %>
        <div>
            <h3> Hazard Type: <%= item.hazard.type %></h3>
            <h4> Found by user id: <%= item.userId %> </h4>
            <p> <%= item.lat %>, <%= item.lng %></p>
            <p> <%= item.hazard.type %> </p>

            <form method="POST" action="/show-all-items/<%=item.id%>/?_method=PUT ">
                <input type="submit" value="Clean Up!"/>
            </form>
        </div>
   <% }%>
<% }) %>



<script>
    const markerCoords = <%- item %>
</script>
<script src="/js/map-many.js"></script>