<h2>Showing all items</h2>

<a href="/profile">Back to profile</a>

<% item.forEach(function(item){ %>
    <%if (!item.cleanerId) { %>
        <div>
            <h3> ID: <%= item.id %> Hazard Type: <%= item.hazardId %></h3>
            <h4> Found by user id: <%= item.userId %> </h4>
            <h4> Cleaned up by user id: <%= item.cleanerId %></h4>
            <p> <%= item.lat %>, <%= item.lng %></p>
            <p> <%= item.hazard.type %> </p>

            <form method="POST" action="/show-all-items/<%=item.id%>/?_method=PUT ">
                <input type="submit" value="Clean Up!"/>
            </form>
        </div>
   <% }%>


<% }) %>

<div id='map' ></div>